<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AllocationUnitSize" value="16"></add>
		<add key="NumberOfClusters" value="4096"></add>
		<add key="ROOMSize" value ="64"/>
		<add key="FATSize" value ="512"/>
		<add key="FAT_Unit_Size"/>
		<add key="CharSizeInBytes" value ="2"/>
		<add key="dbFilePath" value="D:\UCV\An2Sem2\PSO-ProgramareaSistemelorDeOperare\LucrarePractica1_Simulare_SO\os_simulator\DataAccess\db.txt"/>
	</appSettings>
</configuration>